name: Run E2E Tests
on: [push]
jobs:
  run-e2e:
    runs-on: [ubuntu-22.04]
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-golang@v3
        with:
          version-file: go.mod
      - name: Install Nomad
        run: |
          # Install Nomad Linux Package so we get the systemd configs, etc.
          wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo dd of=/usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo dd of=/etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install nomad

          # download main and build that
          cd /tmp
          git clone --depth=1 -b main https://github.com/hashicorp/nomad
          cd nomad
          make bootstrap
          make pkg/linux_amd64/nomad
          sudo mv pkg/linux_amd64/nomad /usr/bin/nomad
          nomad version
      - name: Install CNI
        run: |
          mkdir -p /opt/cni/bin
          curl -s -S -L -o cni.tgz "https://github.com/containernetworking/plugins/releases/download/v1.3.0/cni-plugins-linux-amd64-v1.3.0.tgz"
          tar -C /opt/cni/bin -xf cni.tgz
      - name: Install Plugin
        run: |
          make compile
          sudo cp e2e/agent.hcl /etc/nomad.d/nomad.hcl
          echo 'data_dir="/tmp/nomad"' | sudo tee -a /etc/nomad.d/nomad.hcl
          echo 'bind_addr="0.0.0.0"' | sudo tee -a /etc/nomad.d/nomad.hcl
          echo 'plugin_dir="/tmp/nomad-plugins"' | sudo tee -a /etc/nomad.d/nomad.hcl
      - name: Start Nomad
        run: |
          echo "starting nomad using systemd"
          set -x
          cat /etc/nomad.d/nomad.hcl
          sudo systemctl start nomad
          sleep 5
          sudo journalctl --no-tail -u nomad.service
          ps -ef | grep nomad
          nomad job status
          nomad node status -self -verbose
      - name: Basic Tests
        run: |
          go test -tags=e2e -count=1 -v ./e2e
